.containerPrevisao {
  //width:67.8%;
  width: 70%;
  float: right;
  //height: 550px;
  background-color: #100e1d;

   @media screen and (max-width: 768px) {
    width: 100%; // Tornar a largura igual à largura da tela
    //flex-wrap: wrap; // Permitir que os itens quebrem para a próxima linha
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 120px;
    margin-top: 80px;
    flex-direction: row;
    justify-content: flex-start;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 5px;
    margin-right: 30px;

    width: 120px;
    height: 177px;
    background-color: #1e213a;
    color: #e7e7eb;

    img {
      margin-right: 10px;
      width: 56.44px;
      height: 62px;
    }
  }

  h2 {
    width: 220px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    margin: 100px 0 30px 120px;
    color: #e7e7eb;
  }
}

.tempContainer {
  margin-top: 15px;
  display: flex;
  padding: 10px;

  .tempMax {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #e7e7eb;
    margin-right: 10px;
  }
  .tempMin {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #a09fb1;
  }
}

.container {
  margin: 20px auto;
  width: 100%;
  height: 400px;
  display: inline-block;
  //display: grid;
 // grid-template-columns: 400px 400px;
  //grid-row: auto auto;
  //grid-column-gap: 20px;
  //grid-row-gap: 20px;
  @media screen and (max-width: 768px) {
    
  //flex-wrap: wrap; // Permitir que os itens quebrem para a próxima linha
  }

  .first, .second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  

  
  

  .weatherTitle {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }

  .weatherInfo {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;

    span {
      font-family: Raleway;
      font-size: 36px;
      font-weight: 500;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .windContainer,
  .humiContainer {
    width: 328px;
    height: 204px;
    color: #e7e7eb;
    background-color: #1e213a;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 40px;

    
    .windDir {
      display: flex;
      align-items: center;
      width: 100px;
      justify-content: space-around;

      div {
        width: 29.49px;
        height: 29.49px;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 0.2);

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: none;
        border-radius: 50%;
        svg {
          color: #e7e7eb;
          width: 17px;
          height: 17px;
          //rotate: 150deg;
          transform-origin: center; /* Set the rotation origin to the center of the element */
          //transform: rotate(157.5deg); /* Start rotation from 157.5 degrees */
          transition: transform 0.5s ease;
        }

        svg.rotated {
          transform: rotate(202.5deg);
        }
      }
    }
  }

  .visibilityContainer,
  .pressureContainer {
    width: 328px;
    height: 159px;
    color: #e7e7eb;
    background-color: #1e213a;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 40px;

  }
}

.tempUnit {
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 100px;
  display: flex;

  button {
    width: 40px;
    height: 40px;
    background-color: #585676;
    border: none;
    border-radius: 54px;
    color: #e7e7eb;
    margin-right: 15px;
  }
}
