.buscaContainer {
  background-color: #1e213a;
  height: 50px;
  padding-top: 56px;
  margin-left: 50px;
  input {
    border: 1px solid #e7e7eb;
    width: 268px;
    height: 48px;
    background: transparent;
    color: #e7e7eb;
    font-size: 1rem;
    padding: 15px;
  }
  .busca {
    width: 86px;
    height: 48px;
    background-color: #3c47e9;
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
  }
}
.btn {
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  float: right;
  margin-right: 40px;
  svg {
    width: 32px;
    height: 32px;
    color: #e7e7eb;
  }
}

.histContener {
  margin-top: 90px;
  margin-left: 50px;
  color: #e7e7eb;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  div {
    width: 367px;
    height: 64px;
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    svg {
      display: none;
    }
    
  }

  div:hover {
    border: 1px solid #616475;
    cursor: pointer;
    svg {
      display: inline;
    }
  }
}
