@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Raleway", sans-serif;
}

.progress,
.progress-bar {
  width: 229px;
  height: 8px;
  border-radius: 80px;
  background-color: #e7e7eb;
}

.progress-bar {
  background-color: #ffec65;
}

.progressContainer {
  span {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #a09fb1;
    float: right;
    margin-top: 5px;
  }
  .progresslabel {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #a09fb1;
    margin-bottom: 5px;
  }
}

.buscaDiv {
  display: flex;
  align-items: center;
  // background-color: blueviolet;
  justify-content: space-around;
  margin-top: 56px;
}

.modal-main {
  //position: fixed;
  //background: white;
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 459px;
  height: 694px;
}

.modal.display-block {
  display: block;
}

.modal.display-none {
  display: none;
}

:root {
  --white: #fff;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1d1d2e;

  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #ff3f4b;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--dark-700);
}

body,
input,
textarea,
select,
button {
  //font: 400 1rem sans-serif; //1rem =16px
  //font:"Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
  /*font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // vai gerar 14px
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // vai gerar 15px
  }
}
