.mainContaner {
  //background: linear-gradient(to bottom, #89cff0, #005c99);
  //color: #fff;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;

  // Estilos para telas menores que 768px
  @media screen and (max-width: 768px) {
    width: 100%; // Tornar a largura igual à largura da tela
    flex-wrap: wrap; // Permitir que os itens quebrem para a próxima linha
  }
}

.secondContainer {
  width: 459px;
  //height: 520px;
  float: left;
  background-color: #1e213a;
  @media screen and (max-width: 768px) {
    width: 100%; 
    float: none; 
  }
}

.realLocation {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.2);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 50%;
  svg {
    width: 24px;
    height: 24px;
    color: #e7e7eb;
  }
}

.btnShowBusca {
  width: 161px;
  height: 40px;
  background-color: #6e707a;
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 18.78px;
  border: none;
  // Estilos adicionais para telas menores que 768px
  @media screen and (max-width: 767px) {
    //width: 100%; // Tornar a largura igual à largura da tela
    margin-top: 10px; // Adicionar um espaçamento superior
  }
}
