
.mainContaner{
//background: linear-gradient(to bottom, #89cff0, #005c99);
  //color: #fff;
  display: flex;
  //height: 100vh;
  width: 100%;
  background-color: red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;

}

.secondContainer{
  width: 459px;
  float: left;
  background-color: aquamarine;
}